@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&family=Roboto+Mono:wght@300;400&display=swap');
/* Root Variables */
    :root{
        --color-primary:#767CE2;
        --color-danger:#EC7781;
        --color-success:#39F0BB;
        --color-warning:#FFB755;
        --color-white:#FDFDFD;
        --color-info-dark:#92959e;
        --color-info-light:#DDDEE0;
        --color-dark:#39394A;
        --color-light:rgb(179, 179, 184);
        --color-primary-variant:rgb(24,26,123);
        --color-dark-variant:#6A6F79;    
        --color-background:#F4F6F8;

        --card-border:2rem;
        --border-radius-1:0.4rem;
        --border-radius-2:0.8rem;
        --border-radius-3:1.2rem;

        --card-padding:1.8rem;
        --padding-1:1.2rem;
        --box-shadow: 0 2rem 3rem var(--color-light);
    }

    /*--------------DARK VARIABLE THEME --------------*/
    .dark-theme-variables{
    --color-background:#181a1e;
    --color-white:#202528;
    --color-dark:#edeffd;
    --color-dark-variant:#a3bdcc;
    --color-light:rgba(0,0,0,0.4);
    --box-shadow:0 2rem 3rem var(--color-light);
    }

    *{
        margin: 0;
        padding: 0;
        outline: 0;
        border: 0;
        appearance: 0;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;

    }

    html{
        font-size: 14px;        
    }
    body{
        width: 100vw;
        height: 100vh;
        font-family: poppins, sans-serif;
        font-size: 0.88rem;
        background:rgb(228, 226, 226);
        
    }
    .container{
        display: grid;
        width: 96%;  
        margin: 0 auto;                
        gap: 1.8rem;
        grid-template-columns: 14rem auto 23rem;        
    }

    a{
        color: var(--color-dark);        
    }
    img{
        display: block;
        width: 100%;
    }
    h1{
        font-weight: 800;
        font-size: 1.8rem;
    }
    h2{
        font-size: 1.4rem;
    }   
    h3{
        font-size: 1.1rem;
    }
    h4{
        font-size: 0.8rem;
    }
    h5{
        font-size: 0.77rem;
    }
    small{
        font-size: 0.76rem;        
    }
    .profile-photo{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        overflow: hidden;
    }
    .text-muted{
        color: var(--color-info-dark);
    }

    p{
        color: var(--color-dark-variant);
    }
    b{
        color:var(--color-dark)
    }
    .primary{
        color: var(--color-primary);
    }
      .danger{
        color:var(--color-danger)
    }
      .success{
        color: var(--color-success);
    }
      .warning{
        color: var(--color-warning);
    }

    aside{
        height: 100vh;         
    }
aside .top{    
    display: flex;
    justify-content: space-between;    
    align-items: center;
    margin-top: 1.5rem;
    

}
aside .logo {
    display: flex;
    gap: 0.8rem;
    
}
aside .logo img {
    width: 2rem;
    height: 2rem;  
    background: red;   
    border-radius: 50%;
}
aside  .close {
    display: none;
}
/* ------------------SIDEBAR----------------------------- */
aside .sidebar{
display: flex;
height: 90vh;
flex-direction: column;
position: relative;


}
aside h3{
    font-weight: 500;    
}
aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin: 1rem;    
    align-items: center;
    position: relative;        
    height: 3.7rem;
    padding-top: 1rem;
    width: 100%;
    gap: 4px;
    transition: all 300ms ease;
}

aside .sidebar a span{
    font-size: 1.2rem;
    transition: all 300ms ease;
}

aside .sidebar a:last-child{
    bottom: -4rem;
}
aside .sidebar a.active{
    background: var(--color-info-light);
    color: var(--color-primary);
    margin-left: 0;
   

}
aside .sidebar a.active::before{
    content: '';
    width: 5px;
    height: 100%;
}
aside .sidebar a.active:before{
    content: '';
    width: 6px;
    height: 100%;
    background-color:var(--color-primary);
}

aside .sidebar a.active span{    
    background-color:var(--color-primary);
    margin-left: calc(1rem -3px) ;
}
aside .sidebar a:hover{
    color: var(--color-primary);
}

aside .sidebar a:hover span{
    margin-left: 1rem;
    
}
aside .sidebar a .count{
    background: var(--color-danger);
    color: white;
    padding: 2px 10px;
    font-size: 11px;
    border-radius:var(--border-radius-1);    
}

/* =============MAIN=============== */
main{
    margin-top: 1.4rem;    
}
main .date{
    display: inline-block;
    background: rgb(197, 191, 191);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}
main .date input[type='date']{
    background: transparent;
    color: var(--color-dark-variant);
}
main .insight{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
main .insight >div{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
    cursor: pointer;
}
main .insight >div:hover{
    box-shadow: none;
}
main .insight >div span{
    background: var(--color-primary);
    border-radius: 50%;
    padding: 0.5rem;
    color: var(--color-white);
    font-size: 2rem;
}

main .insight .expenses span{
    background: var(--color-danger)!important;
}
main .insight .income span{
    background: var(--color-success)!important;
}

main .insight .middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

main .insight h3{
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
main .insight .progress{
   position: relative;
   width: 92px;
   height: 92px;
   border-radius: 50%;   
}
main .insight  svg {  
    width: 7rem;
    height: 7rem;        
}
main .insight  svg circle{  
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 14;
    stroke-linecap: round;    
    transform: translate(5px, 5px);
    stroke-dasharray: 110;
    stroke-dashoffset: 92;
}
main .insight .sales svg circle{     
    stroke-dashoffset: -30;
    stroke-dasharray: 200;
}
main .insight .expenses svg circle{ 
   stroke-dashoffset: 20;
    stroke-dasharray: 80;
}

main .insight .progress .number{
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;   
}

main .insight small{
margin-top: 1.rem;
display: block;
}

main .recent-order{
    margin-top: 2rem;
}
main .recent-order .table-head{
    margin-bottom: 1rem;
    display: flex;    
    align-items:baseline;
    height: 4rem;
    justify-content: space-between;
    transition: all 300ms ease;
}
main .recent-order .table-head input[type='text']{    
    padding: var(--padding-1);
    background-color: inherit;
    border-bottom: 1px solid var(--color-info-dark);
    font-size: 1rem;        
}

main .recent-order .table-head h2{
    margin-bottom: 0.8rem;
}
main .recent-order table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all  300ms ease;
}
main .recent-order table:hover{
    box-shadow: none;

}
main .recent-order table tbody td{
     height: 2.8rem;
     border-bottom: 1p solid var(--color-light);
     font-weight: 400;
     font-size: small;
     
    }
    main .recent-order table tbody  tr:hover {
    transition: all 300ms ease;
     cursor: pointer;     
     background-color: rgb(202, 199, 199);
     color: var(--color-white);

}
main .recent-order table tbody  td:hover {
    color: var(--color-white);
}
main .recent-order a{
    text-align: center;
    display: block;
    margin: 1rem auto;
}
.right{
    margin-top: 1.4rem;    
}

/* ============== RIGHT=========*/
.right .top{
    display: flex;
    justify-content: flex-end;
    gap: 2rem;    
}

.right .top button{
    display: none;    
}
.right .theme-toggler{
background: var(--color-light);
display: flex;
justify-content: space-between;
align-items: center;
height: 1.6rem;
width: 4.2rem;
cursor: pointer;
border-radius: var(--border-radius-1);
}
.right .theme-toggler span{
    font-size: 1.2rem;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.right .theme-toggler span.active{
    background: var(--color-primary);
    color: var(--color-white);
    border-radius:var(--border-radius-1);
}
.right .top .profile{
    display: flex;
    gap: 2rem;
    text-align: right;
}

/* ============ RECENT UPDATES =============== */
.right .recent-update{
    margin-top: 1rem;
}
.right .recent-update h2{
    margin-bottom: 0.5rem;
}
.right .recent-update .updates{
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border);
    box-shadow:var(--box-shadow);
    transition: all 300ms ease;

}
.right .recent-update .updates:hover{
    box-shadow: none;
}
.right .recent-update .updates .update{
    display: grid;
    grid-template-columns: 2.6rem auto;
    align-items: flex-start;
    gap: 0.9rem;
    margin-bottom: 1rem;
    cursor: pointer;    
}

/* ========SALE ANALYTICS================ */
.right .sale-analytics{
    margin-top: 2rem;
}
.right .sale-analytics h2{
    margin-bottom: 1.8rem;
}
.right .sale-analytics .item{
    background: var(--color-white);
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.7rem;
    padding: 1.4rem var(--card-padding);
    border-radius: var(--border-radius-3);
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.right .sale-analytics .item:hover{
    box-shadow: none;
}
.right .sale-analytics .item .right {
    display: flex;
    justify-content: space-between;
    margin: 0;
    width: 100%;
}
.right .sale-analytics .item .icon{
    padding: 0.6rem;
    color: var(--color-white);
    border-radius: 50%;
    background:var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sale-analytics .item .icon span{
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sale-analytics .offline .icon{
background: var(--color-danger);
}

.right .sale-analytics .item .customers .icon{
background: var(--color-success)
}

.right .sale-analytics .add-product{
    background: transparent;
    border: 2px  dashed var(--color-primary);
    color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

.right .sale-analytics .add-product div{
display: flex;
align-items: center;
gap: 0.6rem
;
}

.right .sale-analytics .add-product:hover{
cursor: pointer;
}
.right .sale-analytics .add-product div h3{
    font-weight: 600;
}


/* =========MEDIA QUERIES TAB============== */
@media screen and (max-width: 1200px) {
    .container{
        width: 94%;
        grid-template-columns:7rem auto 23rem;        
    }   
    aside .logo h2{    
        display: none;
        
    }

    aside .sidebar h3{        
        display: none;
    }
    aside .sidebar a{    
        width: 5.6rem;
    }
    aside .sidebar a{    
     position: relative;
     top: 1.8rem;
    }
    main .insight{
        grid-template-columns: 1fr;
        gap:0;
    }
    main .recent-order {
        width: 82%;
        position: absolute;
        left: 50%;
        transform: translateX(-60%);
        margin: 7rem 0 0 8.8rem;
    }
    main .recent-order  table{
        width: 84vw;        
    }
     main  table thead tr th:last-child,
     main  table thead tr th:first-child
     {
        display: none;
    }
    main   table tbody tr td:first-child,
     main   table tbody tr td:last-child
    {
        display: none;
    }
}

/* =========MEDIA QUERIES MOBILE @ 768PX============== */
@media screen and (max-width:768px) {
   .container{
       
        width: 100vw;          
        grid-template-columns: 1fr;
    }   
    aside{
        transition: all 300ms ease;
        
        top: 0;
        margin-top: 0;
        position: fixed;
        left: -100%;
        background: var(--color-white);
        width: 18rem;
        z-index: 4;
        box-shadow: 1rem 3rem 4rem var(--color-light);
        height: 100vh;
        display: none;
        padding-right: var(--card-padding);
        animation: showMenu 400ms ease forwards;

    }
    @keyframes showMenu {
        to{
            left: 0;
        }
        
    }
   
  
  
    aside .logo{
        margin-left: 1rem;
    }
    aside .logo h2{
        display: inline;
    }
      aside .sidebar h3{
        display: inline;        
    } 
     aside .sidebar a{
        width: 100%;
        height: 3.4rem;
        
    }   
      aside .close{        
        display: inline-block;
        cursor: pointer;
        animation: hideMenu 500ms ease forwards;
    }
     @keyframes hideMenu {
        to{
            left: -100%;
        }
        
    }
    main{
        margin-top: 8rem;
        padding: 0 1rem;
    }
    main .recent-order{
        position: relative;        
       
    }
    
     main .recent-order {
      justify-content: center;      
      width: 100%;    
      left: 45%;
    }
    .right{
        width: 94%;
        margin: 0 auto 4rem; 
    }
.right .top{
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100% ;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
}
 .right .top .theme-toggler{    
     width: 4.4rem; 
     position: absolute;
     left: 66%;
 }
 .right .profile .info{
    display: none;
 }
 .right .top button{
     display: inline-block;
     background: transparent;
     cursor: pointer;
     color: var(--color-dark);
     position: absolute;
     left: 1rem;
    }
    .right .top button span{
        font-size: 2rem;        
  }



}